{% extends 'base.html.twig' %}

{% block title %} -panier
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-center p-3">
        <h2>Votre panier</h2>
    </div>
 </div>   
{% if items | length > 0 %}
<div class="row">
    <div class="col-10 offset-1">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>N</th>
                <th>Restaurant</th>
                <th>Menu</th>
                <th>Photo</th>
                <th>Composants</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.menu.restaurant.nom }}</td>
                    <td><img src="{{ asset('img/menus/' ~ item.menu.imgMenu) }}" class="card-img-top" width="100" alt="..."></td>
                    <td>{{ item.menu.nom }}</td>
                    <td>{{ item.menu.composants }}</td>
                    <td>{{ item.menu.prix }}&euro;</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td> {{ item.menu.prix * item.quantity }}&euro;</td>
                    <td>
                        <a href="{{ path('cart_delete', {'id': item.menu.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-right"><strong>Total : </strong></td>
                <td>{{ total }}&euro;</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>  
<div class="row">
    <div class="col-5 offset-1 mb-5">
        <a href="{{ path('home') }}" class="continuer text-dark "><i class="fa fa-arrow-left" aria-hidden="true"></i> Continuer mes achats</a>
    </div>
    <div class="col-5 mb-5">
        <a href="{{ path('validation') }}" class="btn btn-danger btn-sm float-right">COMMANDER <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>  


{% else %}
<div class="row">
    <div class="col-12 text-center">
     <p>Votre panier est vide</p>   
    </div>
</div>
    <div class="row">
        <div class="col-12 text-center mb-5">
            <a href="{{ path('home') }}" class="btn btn-danger btn-sm">COMMANCER MES ACHATES</a>
        </div>
    </div>

    
{% endif %}

{% endblock %}