{% extends 'base.html.twig' %}

{% block title %} -panier
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-center p-3">
        <h2>Validation du panier</h2>
    </div>
 </div>   
{% if items | length > 0 %}
<div class="row">
    <div class="col-10 offset-1">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>N</th>
                <th>Restaurant</th>
                <th>Menu</th>
                <th>Photo</th>
                <th>Composants</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.menu.restaurant.nom }}</td>
                    <td><img src="{{ asset('img/menus/' ~ item.menu.imgMenu) }}" class="card-img-top" width="100" alt="..."></td>
                    <td>{{ item.menu.nom }}</td>
                    <td>{{ item.menu.composants }}</td>
                    <td>{{ item.menu.prix }}&euro;</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td> {{ item.menu.prix * item.quantity }}&euro;</td>
                    
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-right"><strong>Total : </strong></td>
                <td>{{ total }}&euro;</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>  
<div class="row">
   <div class="col-10 offset-1">
      <table class="table text-center">
         <thead>
             <tr>
                 <th>Nom</th>
                 <th>Prenom</th>
                 <th>Contact</th>
                 <th>Livraison</th>
                 <th>Changer votre données</th>
                 
             </tr>
         </thead>
         <tbody>
            
                 <tr>
                     <td>{{ app.user.nom }}</td>
                     <td>{{ app.user.prenom }}</td>
                     
                     <td>{{ app.user.telephone }}</td>
                     <td>{{ app.user.adresse }}</td>
                     <td><a href="{{ path('users_profil_modifier') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                     
                 </tr>
            
         </tbody>
         </table>
   </div>

</div>
<div class="row">
    <div class="col-5 offset-1 mb-5">
        <a href="{{ path('cart_index') }}" class="continuer text-dark "><i class="fa fa-arrow-left" aria-hidden="true"></i> Retourner au panier</a>
    </div>
    <div class="col-5 mb-5">
        <a href="#" class="btn btn-danger btn-sm float-right">PAYER <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>  




    
{% endif %}

{% endblock %}