{% extends 'base.html.twig' %}

{% block title %} -panier
{% endblock %}

{% block body %}

<div class="row">
   <div class="col-10 offset-1 text-center pt-3">
        <h1>Validation du panier</h1>
        <hr class="pb-3">
    </div>
 </div> 
 <div class="row">
   <div class="col-3 offset-1 mb-5">
      <h5 class="my-3 text-center">Vos données pour la livraison</h5>
      <table class="table">
         
             <tr>
                 <th>Nom</th>
                 <td>{{ app.user.nom }}</td>
                </tr>
                <tr>
                 <th>Prenom</th>
                 <td>{{ app.user.prenom }}</td>
                </tr>
                <tr>
                 <th>Contact</th>
                 <td>{{ app.user.telephone }}</td>
                </tr>
                <tr>
                 <th>Livraison</th>
                  <td>{{ app.user.adresse }}</td>
                </tr>
                <tr>
                 <th>Changer votre données</th>
                  <td><a href="{{ path('users_profil_modifier') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                </tr>
               
         </table>
   </div>


{% if items | length > 0 %}

    <div class="col-7 offset-1 ">
      <h5 class="my-3 text-center">Vos commandes</h5>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>N</th>
                <th>Restaurant</th>
                <th>Photo</th>
                <th>Menu</th>
                
                <th>Composants</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>{{ item.menu.restaurant.nom }}</td>
                    <td><img src="{{ asset('img/menus/' ~ item.menu.imgMenu) }}" class="card-img-top" width="60" alt="..."></td>
                    <td>{{ item.menu.nom }}</td>
                    <td>{{ item.menu.composants }}</td>
                    <td>{{ item.menu.prix }}&euro;</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td> {{ item.menu.prix * item.quantity }}&euro;</td>
                    
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-right"><strong>Total : </strong></td>
                <td>{{ total }}&euro;</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
</div>  

<div class="row">
    <div class="col-5 offset-1 mb-5 continuer">
        <a href="{{ path('cart_index') }}" class=" text-dark "><i class="fa fa-arrow-left" aria-hidden="true"></i> Retourner au panier</a>
    </div>
    <div class="col-5 mb-5">
        <a href="{{ path('commandes') }}" class="btn btn-danger btn-sm float-right">COMMANDER <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>  




    
{% endif %}

{% endblock %}