{% extends 'baseUsers.html.twig' %}

{% block title %}accueil{% endblock %}


{% block body %}


{{ parent() }}

   
   
<div class="col-10 p-5">

    <h1 class="py-3">Profile de {{app.user.nom}} {{app.user.prenom}}</h1>
    <div class="container-fluid profile">
        <div class="row ">
            <div class="col-3">
                Nom:
            </div>
            <div class="col-9">
                {{app.user.nom}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Prenom:
            </div>
            <div class="col-9">
                {{app.user.prenom}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Email:
            </div>
            <div class="col-9">
                {{app.user.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Telephone:
            </div>
            <div class="col-9">
                {{app.user.telephone}}
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                Adresse:
            </div>
            <div class="col-9">
                {{app.user.adresse}}
            </div>
        </div>


        <div class="row pt-3">
            <div class="col-8">
                
            </div>
        </div>
       <div class="row pt-3">
            <div class="col-8">
                <div><a href="{{ path('users_pass_modifier')}}" class="btn btn-danger btn-sm mb-2">Modifier le mot de passe</a></div>
               <div> <a href="{{ path('users_profil_modifier') }}" class="btn btn-danger btn-sm ">Modifier le profile</a></div>
            </div>
        </div>     
        </div>



    </div>




{% endblock %}